
main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}
:root {
  --seconday:rgba(228, 2, 2, 0);
  --light: #fafafa;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  background-image: url(./assets/Background/hero3.jpg);
  background-position: center;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--darker);
  color: var(--light);
  font-family: 'Poiret One', cursive;

}


a {
  color: var(--error);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: .8;
}


img {
  max-width: 100%;
}

input {
  font-size: 1rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;

  width:20em;
}



li {
  list-style: none;
}
nav a:hover {
  text-decoration: none;
}
textarea{
  height: 10em;
  width: 20em;;
}
nav  li {
  cursor: pointer;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.heroMain{
  width:100%;
  height:auto;
  background-color:rgba(22, 31, 37, 0.90);
  text-align: center;
}
.form-group{
  text-align: left;
}
.hero{
  padding: 3em;
  min-height: 90vh;
}
.hero p{
  font-size: 1em;
}
.container {
  padding-top: 3em;
  width: 35%;
  max-width: 200em;
  margin-left: auto;
  margin-right: auto;
 
}
.download{
  background-color: white;
  color:black
}
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}



.projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 2px;;

}
.project {
  width: 500PX;
  color:rgb(217, 217, 220);
  height:200px;
  margin-top: 20px;;
  background-size: center;
  background-position: center;
}
.project h1{
  background-color: #5a7971;
  font-size: 2rem;
  margin-top: 0px;
  text-align: center;
}

button {
	background: var(--primary);
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	padding-left: 30px;
	padding: 10px 15px;	
}

a {
	border-radius: 5px;
	color: var(--primary);
	font-weight: 600;
	padding: 2px 4px;
	margin-left: -2px;
	margin-right: -2px;
	
}
.footer{
  left: 0;
  bottom: 0;
  width: 100%;
  height:auto;
 background-color: #5a7971;
  color: white;
  text-align: center;
}
.socialLinks{
  padding-bottom: 30px;;
}
.link{
  margin-left: 20px;;
}
.navActive {
  background-color:rgba(7, 45, 71, 0.9);
  border-radius: 10px;;
}
.error{
  color:red;
}
@media screen and (max-width: 575px){
  .projects{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-left: 2px;;
  
  }
  .project {
   color:rgb(217, 217, 220);
    height:200px;
    width:auto;
    margin-top: 20px;;
    background-size: center;
    background-position: center;
  }
  .project h1{
    background-color: #5a7971;
    width: 100%;
    font-size: 1.5rem;
    margin-top: 0px;
  }
  .container {
    padding-top: 3em;
    width: auto;
    max-width: 200em;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
   
  }
  
}